@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root {
    --primary-color: #DD428F;
    --primary-color-contrast: #fff;
    --background-color: #F5DDE1;
    --highlight-color: #de6b93;
}

