@import url('reset.css');
@import url('global.css');

h1, h3 {
    font-family: 'Poppins', sans-serif ;
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 2rem;
    text-transform: uppercase;
}

h3 {
    font-size: 1.5rem;
}

p {
    color: #000;
}

p, input, label {
    font-family: 'Libre Baskerville', serif;
}

button {
    padding: 16px 32px;
    background-color: var(--primary-color);
    font-weight: 900; 
    font-family: 'Poppins', sans-serif ;
    color: var(--primary-color-contrast);
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
    transition: background 1s;
}
header {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.header-container {
    max-width: 700px;
    padding: 80px 20px;
    text-align: center;
}

.header-container p {
    margin: 30px 0 50px;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    font-size: 1.7rem;
}

.header-container button {
    font-size: 1.5rem;
    border: 2px solid var(--primary-color);
}

.header-container button:hover {
    background-color: transparent;
    color: var(--primary-color);
} 

main {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
} 

label {
    margin-bottom: 8px;
  }

section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
} 

section #profile-barbie{
   border-radius: 0.8rem;
   border: 0.7rem solid var(--background-color);
    outline: 0.5rem solid var(--primary-color);
} 

.container{
    max-width: 1300px;
} 

#section1 {
    align-items: center;
}

#section1 .section-texts {
    max-width: 50%;
}

#section-trailer .section-texts {
    max-width: 50%;
    text-align: right;
}

#section-trailer .section-texts h2 {
    display: inline-block;
}

#section-trailer .video-frame {
    background-color: var(--primary-color);
}

#section-trailer .video-frame iframe {
    position: relative;
    left: 24px;
    bottom: 24px;
    border: 2px solid;
    border-image: linear-gradient(
        var(--primary-color),
        var(--primary-color-contrast)
    );
    border-image-slice: 10;
}

#section-movie-gallery .container{
    width: 100%;
}

#section-movie-gallery .gallery-container{
    display: flex;
    gap: 50px;
}

#section-movie-gallery .gallery-image{
    border-radius: 0.8rem;
   border: 0.7rem solid var(--background-color);
   outline: 0.5rem solid var(--primary-color);
   box-sizing: initial;
}

.gallery-container li {
    list-style: none;
}

.gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section-form {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
}

#section-form h1{
width: 250px;
}

#section-form .form-content {
    display: flex;
    justify-content: space-between;
}

#section-form .form-content h3{
    color: var(--highlight-color);
}

#section-form .form-content h3 span{
    color: var(--primary-color);
}



