@import url('reset.css');
@import url('global.css');

h1, h3 {
    font-family: 'Poppins', sans-serif ;
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 2rem;
}

p {
    color: #000;
}

p, input, label {
    font-family: 'Libre Baskerville', serif;
}

button {
    padding: 16px 32px;
    background-color: var(--primary-color);
    font-weight: 900; 
    font-family: 'Poppins', sans-serif ;
    color: var(--primary-color-contrast);
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
    transition: background 1s;
}
header {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.header-container {
    max-width: 700px;
    padding: 80px 20px;
    text-align: center;
}

.header-container p {
    margin: 30px 0 50px;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    font-size: 1.7rem;
}

.header-container button {
    font-size: 1.5rem;
    border: 2px solid var(--primary-color);
}

.header-container button:hover {
    background-color: transparent;
    color: var(--primary-color);
} 

main {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
} 

label {
    margin-bottom: 8px;
  }

section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
} 

section #profile-barbie{
   border-radius: 0.8rem;
   border: 0.7rem solid var(--background-color);
    outline: 0.5rem solid var(--primary-color);
} 

.container{
    max-width: 1300px;
} 

#section1 {
    align-items: center;
}

#section1 .section-texts {
    max-width: 50%;
}
